html {
    width: 100vw;
    height: 100vh;
    font-size: 14pt;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#root {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "header" "main";
}

header {
    grid-area: header;
    background-color: white;
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    grid-template-areas: "actions user-nav";
    justify-content: start;
    align-items: center;
    padding: 10px;
}


button {
    background-color: #3498db;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    border: 2px solid #3498db;
    cursor: pointer;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button:hover {
    background-color: #2980b9;
}


footer {
    padding: 10px;
    font-size: 0.7rem;
    font-style: italic;
    display: grid;
    grid-template-columns: 400px auto 300px;
    grid-template-rows: auto;
    grid-template-areas: "copy . license" "copy . credits";
    align-items: center;
    grid-row-start: 3;
    grid-row-end: 4;
    border-color: black;
}


a {
    text-decoration: none;
    color: inherit;
}

a:active {
    color: #3498db;
    text-decoration: underline;
}
