.recipe-container {
    grid-template-rows: 200px auto;
}


.recipe-container-header {
    grid-area: recipe-container-header;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    width: 100ch;
}


/*
.user-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}
*/
.user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
